PORT=9000
ELASTICSEARCH_URL=elasticsearch:9200
ELASTICSEARCH_LOG_LEVEL=error
MONGODB_URL=mongodb://username:password@mongo
MONGODB_DBNAME=answerfamily
AUTH0_DOMAIN=answerfamily.auth0.com
AUTH0_CLINET_ID=
